@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --dark-blue: #233963;
    --blue: #32A2B8;
    --yellow: #FFC947;
    --white: #FFFFFF;
}
body {
  font-family: 'Roboto', sans-serif;
  background: var(--white); /* fallback for old browsers */
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}

#main-container{
  min-height: 8vh;
}

.navbar-tittle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    margin-left: 10px;
  color: var(--white);
  font-style: italic;
  font-size: 2.5em;
  font-weight: bold;
}

.navbar-brand:hover{
    color: var(--yellow);
}


.navbar-logo-background{
    background-color: var(--white);
    height: 58px;
    width: auto;
    border-radius: 25%;
}

.navbar-logo {
    height: 100%;
    width: 100%;
}

.navbar-mainbg {
  background-color: var(--dark-blue);
  padding: 0px;
}


footer {
  background-color: var(--dark-blue);
}

i {
  color: var(--white);
}

#copy {
  background-color: #0A1528;
  color: var(--white);
}

#copy > a {
  text-decoration: none;
  color: var(--white);
}

.navbar-logo-background:hover{
  text-decoration: none;
}