{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='graficas/graficas.css') }}">
{% endblock head %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 pt-5 pb-4">
            <h3 class="text-center">Gráficas acumuladas</h3>
        </div>

        <div class="col-md-6 pt-2 pb-4">
            <h4 class="text-center mb-3">Flujo en las últimas 10 horas</h4>
            <div class="card"> 
                <div class="card-body"> 
                    <canvas id="grafica_flujo_dia" width="500" height="400"></canvas>
                </div> 
            </div> 
        </div>

        <div class="col-md-6 pt-2 pb-4">
            <h4 class="text-center mb-3">Dispersión del flujo Máximo</h4>
            <div class="card"> 
                <div class="card-body"> 
                    <canvas id="dispersion" width="500" height="400"></canvas>
                </div> 
            </div> 
        </div>
        <div class="col-md-12 pt-4 pb-4">
            <h4 class="text-center mb-3">Flujo máximo por semana</h4>
            <div class="card"> 
                <div class="card-body"> 
                    <canvas id="barras_semana" width="500" height="200"></canvas>
                </div> 
            </div> 
        </div>
    </div>

    <script>
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.legend.display = false;

        var chartData = {
            labels : [{% for dato in flujo_dia %}
                "{{ dato.1 }}",
                {% endfor %}],
            datasets : [{
                label: 'Flujo',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(114,103,167,0.2)",
                borderColor: "rgba(107,76,154,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'mister',
                pointBorderColor: "rgba(107,76,154,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(107,76,154,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for dato in flujo_dia %}
                        {{ dato.0 }},
                    {% endfor %}],
                spanGaps: false
            }]
        };
            
        var ctx = document.getElementById("grafica_flujo_dia").getContext("2d");

        var acumulados1 = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                responsive: true,
                    legend: {
                        labels: {
                            usePointStyle: false
                    }
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: "rgba(0, 0, 0, 0)",
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Hora'
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Flujo de agua (L/min)'
                        }
                    }]
                },
            }
        });
    </script>
        
    <script>
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.legend.display = false;

        var chartData = {
            datasets : [{
                label: 'Flujo',
                data : [
                {% for dato in flujo_semana %}
                    {
                        x: "{{ dato.1 }}",
                        y: {{ dato.0 }}
                    },
               {% endfor %}],
                backgroundColor: 'rgb(255, 99, 132)'
            }],
        };
            
        var ctx = document.getElementById("dispersion").getContext("2d");

        var acumulados1 = new Chart(ctx, {
            type: 'scatter',
            data: chartData,
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    },
                    yAxes:[{
                        display: true,
                        scaleLabel:{
                            display: true,
                            labelString: 'Flujo de agua (L/min)'
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                        unit: 'day'
                        },
                      
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Fecha'
                        }
                    }],
                }
            }
        });
    </script>

    <script>
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.legend.display = false;

        var chartData = {
            labels: ['Domingo', 'Lunes', 'Martes',
            'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            datasets : [{
                label: 'Flujo Máximo del Dia',
                data : 
                [{% for dato in flujo_semana_actual %}
                    {{ dato.0 }},
                {% endfor %}],  
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        };

        var ctx = document.getElementById("barras_semana").getContext("2d");

        var acumulados1 = new Chart(ctx, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Dias de la semana'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0
                        },
                        display: true,

                        scaleLabel: {
                            display: true,
                            labelString: 'Flujo de agua (L/min)'
                        }
                    }]
                },
                plugins: {
                    labels: {
                        render: () => {}
                    }
                },
            },
        });
    </script>
{% endblock page_content %}


{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
{% endblock scripts %}

